<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger]"/>
  <param name="model" value="$(arg model)"/>

  <!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
  <node pkg="turtlebot3_teleop" type="tb3_acrome_keyboardcontrol" name="tb3_acrome_keyboardcontrol"  output="screen">
  </node>
</launch>
